#githublatestcommits-error {
    background: white;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 20px;
}

#githublatestcommits-error span {
    font-weight: bold;
    color: #f32828;
    text-align: center;
}

#githublatestcommits {
    display: flex;
    flex-direction: column;
}

#githublatestcommits .commit {
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

#githublatestcommits .column-title {
    padding: 10px;
    font-weight: bold;
}

#githublatestcommits .commit:first-of-type {
    margin-top: 20px;
    background: white;
}

#githublatestcommits .commit .info {
    display: flex;
    flex-direction: column;
}

#githublatestcommits .commit .message {
    display: flex;
    justify-content: center;
    align-self: center;
}
